<%= link_to image_tag('http://trotontv.net/photos/groupphotos/funny_horse.jpg', :width => 120), :back%>
Sorry something went wrong here (404)! Mhhh well just click the horse and try again.
<br/><br/>
<div id="snufflr">snufflr.net</div>