<%= link_to image_tag('http://primped1.hcdn1.net/images/uploads/beauty_duty/april/horse3.jpg', :width => 120), :back%>
Sorry something went very wrong here (500)! Ahh lets just click the horse and try again.
<br/><br/>
<div id="snufflr">snufflr.net</div>