body {
	background-color: #fff;
	color: #333;
}

body, p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

a {
	color: #000;
}
a:visited {
	color: #666;
}
a:hover {
	color: #fff;
	background-color: #000;
}

.fieldWithErrors {
	padding: 2px;
	background-color: red;
	display: table;
}

#errorExplanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}

#results {
	width: 920px;
	float: left;
}

#results > a {
	width: 40px;
	height: 40px;
	padding: 6px;
	float: none;
	clear: both;
	margin: 5px;
	text-decoration: none;
	display: block;
	background: #ddd;
	color: black;
	font-weight: bold;
	text-align: center;
}

#results > a:hover {
	background: #222;
	color: red;
}



#snuffForm {
	clear: both;
}


#snuffForm .row {
	float: left;
	clear: both;
	margin-bottom: 5px;
}

#snuffForm label {
	width: 80px;
	float: left;
	padding: 3px;
	margin-right: 6px;
	color: #aaa;
}

#snuffForm input,
#snuffForm textarea {
	width: 400px;
	float: left;
	border: 1px solid #ddd;
	padding: 3px;
}

#snuffForm textarea#sF_blurb {
	height: 100px;
}

#snuffForm #sF_name {
	font-weight: bold;
	font-size: 18px;
	border: 1px dotted #ddd;
}

#snuffForm #sF_photo {
}

#snuffForm #sF_create {
	width: 100px;
	float: left;
	margin-left: 100px;
}







.snuffWrap {
	width: 200px;
	float: left;
	margin: 15px;
	height: 200px;
	background: #efefef;
}

.snuffWrap .snuffImg {
	float: left;
	height: 200px;
	width: 200px;
	overflow: hidden;
margin-top: -28px;
}

.snuffWrap .snuffImg img {
	border: 0px;
}

.snuffWrap .snuffName {
	color: #ddd;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	background: #111;
	width: 190px;
	padding: 5px;
float: left;

}

.snuffWrap .snuffName:hover {
	background: #ccc;
	color: #333;
}

.snuffWrap .snuffBlurb {
	margin-top: -23px;
	color: #333;
	font-size: 10px;
	text-decoration: none;
	float: left;
}



.snuffWrap .administr {
	font-size: 8px;
}

