/* in progress */

#switchSize {
float: left;
margin: 0px !important;
padding: 0px !important;
}

#switchSize ul {
margin: 0px;
padding: 0px;
}

#switchSize ul li {
display: inline;
list-style-type: none;
}



/* Snufflr.css */

h3 { clear: both; }
a:active, a:focus { outline: 0 }
a {color:#00AEEF;text-decoration:none;}
a:visited {color:#00AEEF;}
a:hover {text-decoration:underline;}
pre {background-color:#eee;padding:10px;font-size:11px;}
.clear { clear: both; }

body {
	font: 11px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 18px;
	background: #eee;
	margin: 0px;
	padding: 0px;
}

/* Errors */
.fieldWithErrors { padding:2px;background-color:red;display:table; }
#errorExplanation { width:400px;border:2px solid red;padding:7px;padding-bottom:12px;margin-bottom:20px;background-color:#f0f0f0; }
#errorExplanation h2 { text-align:left;font-weight:bold;padding:5px 5px 5px 15px;font-size:12px;margin:-7px;background-color:#c00;color:#fff; }
#errorExplanation p { color:#333;margin-bottom:0;padding:5px; }
#errorExplanation ul li { font-size:12px;list-style:square; }
#flash_notice, #flash_error{ margin-left:20px;font-weight:bold; }

/* Header */
#header{height:100px;background:#000000 none repeat scroll 0 0;clear:both;color:#FFFFFF;float:left;width:100%;margin-bottom:20px;}
#header h1{background:#ff3300;width:170px;height:100px;margin:0px;padding:0px;float:left;margin-left:20px;}
#header h1 a{font-size:27px;font-weight:500;margin-left:10px;color:#fff !important;text-decoration:none;padding-top:70px;float:left;}
#header #snuffles{float:left;padding-top:76px;margin-left:10px;font-weight:bold;letter-spacing:1px;}
#header #snuffles #snufflesAll,
#header #snuffles #snufflesMine{float:left;}
#header #snuffles #snufflesAll a{color:#333;text-decoration:none;margin-right:5px;}
#header #snuffles #snufflesMine a{color:#fff;text-decoration:none;}
#header #userWrap{width:880px;margin-top:74px;}
#header #userWrap #user{float:right;}
#header #userWrap #user a{color:#666 !important;}

/* new/edit Snuff Form */
#snuffForm{}
#snuffForm .row{float:left;clear:both;margin-bottom:5px;}
#snuffForm label{width:80px;float:left;padding:3px;margin-right:6px;color:#aaa;}
#snuffForm input,
#snuffForm textarea{width:200px;float:left;border:1px solid #ddd;padding:3px;}
#snuffForm textarea#sF_blurb{width:400px;height:100px;}
#snuffForm #sF_name{font-weight:bold;font-size:18px;border:1px dotted #ddd;}
#snuffForm #sF_photo{width:10px !important;}
#snuffForm #sF_create{width:100px;float:left;margin-left:100px;}
#snuffForm #sF_private{margin-top:4px;width:20px !important;}

/* # Results wrapper on every page */
#results {
	width: 880px;
	float: left;
	padding-left: 20px;
}

#results > a {
	background: #ddd;
	width: 86px;
	height: 89px;
	padding: 6px;
	float: left;
	margin: 5px;
}

/* SnuffWrap */
.snuffWrap {width:100px;float:left;margin:5px;background:#efefef;}
.snuffWrap .snuffContentWrap{overflow:hidden;height:100px;background:#ddd;}
.snuffWrap .snuffImg{float:left;}
.snuffWrap .snuffImg img{border:0px;}
.snuffWrap .snuffName{color:#00AEEF;text-decoration:none;text-transform:uppercase !important;position:relative;font-size:9px;background:#fff;border-top:1px solid #ccc;width:90px;float:left;padding:5px;text-align:right;-moz-border-radius-bottomleft:10px;-moz-border-radius-bottomright:5px;}
.snuffWrap .snuffName:hover{background:#ddd;color:#333;}
.snuffWrap .snuffBlurb{margin-top:-23px;color:#333;font-size:10px;border-bottom:1px dotted red;text-decoration:none;min-height:20px;float:left;}
.snuffWrap .administr{font-size:8px;}
.snuffWrap .snuffDetails{background:#ddd;height:100px;width:100px;color:#eee;float:left;overflow:hidden;line-height:13px;}
.snuffWrap .snuffDetails .seethrough{height:100px;width:100px;background-color:#222;filter:alpha(opacity=80);opacity:0.8;-moz-opacity:0.80;z-index:10;}
.snuffWrap .snuffDetailsFrom{padding:10px;height:70px;position:relative;top:-100px;}
.snuffWrap .snuffDetailsFrom a{color:#fff !important;clear:left;}
.snuffWrap .snufflrAva a{}
.snuffWrap .snuffDetailsAdmin{width:100px;}
.snuffWrap .snuffDetailsAdmin a{color:#bbb !important;margin-right:17px;font-weight:bold;text-decoration:none;}
.snuffWrap .snuffDetailsAdmin a:hover{color:#333 !important;}
.snuffWrap #collection_submit{border:0px;font-weight:bold;-moz-border-radius:15px;background:#eee;color:#555;margin-top:43px;padding:5px 10px;}
.snuffWrap #collection_submit:hover{background:#999;color:#fff}
#newSnuff.small {text-decoration:none;font-size:2em;padding-top:42px;text-align:center;float:left;height:55px;font-weight:bold;color:#009acd;-moz-border-radius:5px;background: white;}

.snuffWrapLarge {width:200px;float:left;margin:5px;background:#efefef;background:#fff; padding: 0px 5px 0px 5px;-moz-border-radius:5px;}
.snuffWrapLarge .snuffContentWrap{overflow:hidden;height:200px;}
.snuffWrapLarge .snuffImg{float:left;}
.snuffWrapLarge .snuffImg img{border:0px;}
.snuffWrapLarge .snuffName{text-transform:uppercase !important;position:relative;font-size:11px;background:#fff;border-top:1px solid #ccc;width:190px;float:left;padding:5px;text-align:left;}
.snuffWrapLarge .snuffName:hover{background:#ddd;color:#333;text-decoration: none;}
.snuffWrapLarge .snuffBlurb{}
.snuffWrapLarge .administr{}
.snuffWrapLarge .snuffDetails{background:#ddd;height:200px;width:200px;color:#eee;float:left;overflow:hidden;line-height:13px;}
.snuffWrapLarge .snuffDetails .seethrough{height:200px;width:200px;background-color:#222;filter:alpha(opacity=80);opacity:0.8;-moz-opacity:0.80;z-index:10;}
.snuffWrapLarge .snuffDetailsFrom{height:70px;position:relative;top:-200px; }
.snuffWrapLarge .snuffDetailsFrom a{color:#fff !important;clear:left;}
.snuffWrapLarge .snufflrAva a{display:block;padding:0px;height:40px;background:red;width:40px;clear:both;float:left;margin-right:5px;}
.snuffWrapLarge .snuffDetailsAdmin{}
.snuffWrapLarge .snuffDetailsAdmin a{}
.snuffWrapLarge .snuffDetailsAdmin a:hover{}
.snuffWrapLarge #collection_submit{border:0px;font-weight:bold;-moz-border-radius:15px;background:#eee;color:#555;padding:5px 10px;float: right; margin: -5px 5px 0px 0px; }
.snuffWrapLarge #collection_submit:hover{background:#999;color:#fff}
#newSnuff.large {text-decoration:none;font-size:2em;padding-top:92px;text-align:center;float:left;width:198px;height:130px;font-weight:bold;color:#009acd;-moz-border-radius:5px;background: white;}

/* Snufflr_Item */
#snufflr_item #results #showTags a{color:#00AEEF;text-decoration:none;}
#snufflr_item #showWrap{overflow:auto;float:left;margin-bottom:10px;}
#snufflr_item #results h2{margin-bottom:-17px;}
#snufflr_item #topOptions{padding:1px;}
#snufflr_item #topOptions .topOptionsLeft{float:left;}
#snufflr_item #topOptions .topOptionsRight{float:right;}
#snufflr_item #showImageWrap a img{border:0px;}
.snuffDetailsFrom{height:70px;}
.snuffDetailsAdmin{width:100px;}
.snuffDetailsAdmin a{color:#bbb !important;margin-right:17px;}
.snuffDetailsAdmin a:hover{color:#333 !important;}