/* in progress */

#switchSize {float: left; margin: 0px !important; padding: 0px !important; }
#switchSize ul { margin: 0px; padding: 0px; }
#switchSize ul li { display: inline; list-style-type: none; }

/* Snufflr.css */

h3 { clear: both; }
a:active, a:focus { outline: 0 }
a {color:#00AEEF;text-decoration:none;}
a:visited {color:#00AEEF;}
a:hover {text-decoration:underline;}
pre {background-color:#eee;padding:10px;font-size:11px;}
.clear { clear: both; }

body {
	background:url("/images/bg.png") repeat scroll 0 0 #DDDDDD;
	border-top:1px solid #FFFFFF;
	color:#222222;
	font-family:"Helvetica Neue",Helvetica,Arial,Sans-Serif;
	font-size:62.5%;
	height:100%;	
	line-height:1;
	margin: 0;
}

h2 {margin-top: 0px;}

/* Errors */
.fieldWithErrors { padding:2px;background-color:red;display:table; }
#errorExplanation { width:400px;border:2px solid red;padding:7px;padding-bottom:12px;margin-bottom:20px;background-color:#f0f0f0; }
#errorExplanation h2 { text-align:left;font-weight:bold;padding:5px 5px 5px 15px;font-size:12px;margin:-7px;background-color:#c00;color:#fff; }
#errorExplanation p { color:#333;margin-bottom:0;padding:5px; }
#errorExplanation ul li { font-size:12px;list-style:square; }
#flash_notice,#flash_error{clear:both;color:#444444;font-size:1.2em;font-weight:bold;line-height:1.3em;margin-bottom:20px;padding-left:1.7em;}

#flash_error { background:url("/images/error.png") no-repeat scroll 0 50%;}
#flash_notice { background:url("/images/info.png") no-repeat scroll 0 50%; }

/* Header */
#header { clear:both;margin:0 auto 21px;padding-top:56px;position:relative;width:960px;}
#header h1 { float: left; }
#header h1 a {
	background:url("/images/logo.png") no-repeat scroll 0 0 transparent;
	float:left;
	height:39px;
	margin-left:10px;
	color:black;font-size:1.3em;
	text-indent:-7777px;
	width: 140px;
	opacity:0.85;
}
#header h1 a:hover {text-decoration:none;	opacity:1}
#header #snuffles #snufflesAll,
#header #snuffles #snufflesMine{float:left; }
#header #snuffles #snufflesAll a{color:#333;text-decoration:none;margin-right:5px;}
#header #snuffles #snufflesMine a{color:#fff;text-decoration:none;}
#header #userWrap{ float: right;}
#header #userWrap #user{position:relative;right:10px;top:20px;}
#header #userWrap #user .login,
#header #userWrap #user .signup {
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
	background-color:#ddd;
	display:inline-block;
	font-weight:bold;
	line-height:14px;
	margin-right:5px;
	opacity:0.85;
	text-shadow:0 1px 1px #fff;

}

#header #userWrap #user a {
	color:#333;
	display:block;
	padding:6px 11px 8px;
	text-decoration:none;
}

#header #userWrap #user .login:hover,
#header #userWrap #user .signup:hover {
		opacity:1;
}

#header #snuffles #snufflesAll,
#header #snuffles #snufflesMine,
#switchSize{display:none;}

/* new/edit Snuff Form */
#snuffForm{float:left;margin-bottom:20px;}
#snuffForm .row{float:left;clear:both;margin-bottom:5px;}
#snuffForm label{width:80px;float:left;padding:3px;margin-right:6px;color:#aaa;}
#snuffForm input,
#snuffForm textarea{width:200px;float:left;border:1px solid #ddd;padding:3px;}
#snuffForm textarea#sF_blurb{width:400px;height:100px;}
#snuffForm #sF_name{font-weight:bold;font-size:18px;border:1px dotted #ddd;}
#snuffForm #sF_photo{width:10px !important;}
#snuffForm #sF_create{width:100px;float:left;margin-left:100px;}
#snuffForm #sF_private{margin-top:4px;width:20px !important;}

/* # Results wrapper on every page */

#page {
	margin:0 auto 21px;
	position:relative;
	clear:both;
  width:960px;
}


#col1 {
	width: 700px; float: left;
}

#col2 {
	width: 170px; float: right;font-size: 1.2em;line-height: 1.5em;
}

#col2 h3 {
	clear:both;
	font-size:1.5em;
	margin:0;
}

#col2 ul {
	padding:0px;margin-left: 0px;margin-bottom: 0px;font-size: 1em; list-style: none;line-height: 1.2em;
}

#col2 ul li {}

#page #col1,
#page #col2{
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background:none repeat scroll 0 0 white;
	padding:20px;

}

#page #results {}

#page #results #navOption a {
	color:#FFFFFF;
	display:block;
	padding:6px 11px;
	text-decoration:none;
}

#page #results #navOption {clear:both;}

#page #results #navOption .back,
#page #results #navOption .edit,
#page #results #navOption .destroy, 
#page #results #navOption .prev, 
#page #results #navOption .host, 
#page #results #navOption .next,
#page #results #navOption .show {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	display:inline-block;
	background-color:#000000;
	font-weight:bold;
	line-height:14px;
	opacity:0.85;
	text-shadow:0 1px 1px #000000;
	margin-right: 5px;
}

#page #results #navOption .host {
	background:url("/images/ihome.png") no-repeat scroll 7px 6px #CCCCCC;
	text-indent:-7777px;
	width:32px;
}

#page #results #navOption .back:hover,
#page #results #navOption .edit:hover,
#page #results #navOption .destroy:hover, 
#page #results #navOption .prev:hover, 
#page #results #navOption .host:hover, 
#page #results #navOption .next:hover {
		opacity:1;
}

/* SnuffWrap */
.snuffWrap {width:100px;display:inline-block;margin-right:5px;background:#efefef;}
.snuffWrap .snuffContentWrap{overflow:hidden;height:100px;background:#ddd;}
.snuffWrap .snuffImg{float:left;}
.snuffWrap .snuffImg img{border:0px;}
.snuffWrap .snuffName{color:#00AEEF;text-decoration:none;text-transform:uppercase !important;position:relative;font-size:9px;background:#222;border-top:1px solid #ccc;width:90px;float:left;padding:5px;text-align:right;-moz-border-radius-bottomleft:10px;-moz-border-radius-bottomright:5px;}
.snuffWrap .snuffName:hover{background:#ddd;color:#333;}
.snuffWrap .snuffBlurb{margin-top:-23px;color:#333;font-size:10px;border-bottom:1px dotted red;text-decoration:none;min-height:20px;float:left;}
.snuffWrap .administr{font-size:8px;}
.snuffWrap .snuffDetails{background:#ddd;height:100px;width:100px;color:#eee;float:left;overflow:hidden;line-height:13px;}
.snuffWrap .snuffDetails .seethrough{height:100px;width:100px;background-color:#222;filter:alpha(opacity=80);opacity:0.8;-moz-opacity:0.80;z-index:10;}
.snuffWrap .snuffDetailsFrom{padding:10px;height:70px;position:relative;top:-100px;}
.snuffWrap .snuffDetailsFrom a{color:#fff !important;clear:left;}
.snuffWrap .snufflrAva a{}
.snuffWrap .snuffDetailsAdmin{width:100px;}
.snuffWrap .snuffDetailsAdmin a{color:#bbb !important;margin-right:17px;font-weight:bold;text-decoration:none;}
.snuffWrap .snuffDetailsAdmin a:hover{color:#333 !important;}
.snuffWrap #collection_submit{border:0px;font-weight:bold;-moz-border-radius:15px;background:#eee;color:#555;margin-top:43px;padding:5px 10px;}
.snuffWrap #collection_submit:hover{background:#999;color:#fff}
#newSnuff.small{-moz-border-radius:5px 5px 5px 5px;background:none repeat scroll 0 0 #EEEEEE;color:#222222;float:left;font-size:2em;font-weight:bold;height:61px;margin-right:5px;padding-top:42px;text-align:center;text-decoration:none;width:95px;}

.snuffWrapLarge {width:200px;float:left;margin:5px;background:#efefef;background:#fff; padding: 0px 5px 0px 5px;-moz-border-radius:5px;}
.snuffWrapLarge .snuffContentWrap{overflow:hidden;height:200px;}
.snuffWrapLarge .snuffImg{float:left;}
.snuffWrapLarge .snuffImg img{border:0px;}
.snuffWrapLarge .snuffName{text-transform:uppercase !important;position:relative;font-size:11px;background:#fff;border-top:1px solid #ccc;width:190px;float:left;padding:5px;text-align:left;}
.snuffWrapLarge .snuffName:hover{background:#ddd;color:#333;text-decoration: none;}
.snuffWrapLarge .snuffBlurb{}
.snuffWrapLarge .administr{}
.snuffWrapLarge .snuffDetails{background:#ddd;height:200px;width:200px;color:#eee;float:left;overflow:hidden;line-height:13px;}
.snuffWrapLarge .snuffDetails .seethrough{height:200px;width:200px;background-color:#222;filter:alpha(opacity=80);opacity:0.8;-moz-opacity:0.80;z-index:10;}
.snuffWrapLarge .snuffDetailsFrom{height:70px;position:relative;top:-200px; }
.snuffWrapLarge .snuffDetailsFrom a{color:#fff !important;clear:left;}
.snuffWrapLarge .snufflrAva a{display:block;padding:0px;height:40px;background:red;width:40px;clear:both;float:left;margin-right:5px;}
.snuffWrapLarge .snuffDetailsAdmin{}
.snuffWrapLarge .snuffDetailsAdmin a{}
.snuffWrapLarge .snuffDetailsAdmin a:hover{}
.snuffWrapLarge #collection_submit{border:0px;font-weight:bold;-moz-border-radius:15px;background:#eee;color:#555;padding:5px 10px;float: right; margin: -5px 5px 0px 0px; }
.snuffWrapLarge #collection_submit:hover{background:#999;color:#fff}
#newSnuff.large {text-decoration:none;font-size:2em;padding-top:92px;text-align:center;float:left;width:198px;height:130px;font-weight:bold;color:#009acd;-moz-border-radius:5px;background: white;}

/* Snufflr_Item */

#col2 strong{text-shadow:0 1px 0 #EEEEEE;color:#868686;font-size:1.2em;}
#snufflr_item #showTags a{
	margin-top: 5px;
	-moz-border-radius:5px 5px 5px 5px;
	background:url("/images/label.png") no-repeat scroll right center transparent;
	color:#FFFFFF;
	display:block;
	font-size:1.1em;
	font-weight:bold;
	margin-bottom:7px;
	opacity:0.85;
	padding:5px 15px 6px 6px;
	width: 100px;
}
#snufflr_item #showTags a:hover {
	opacity: 1;
	text-decoration: none;
}

#snufflr_item #showWrap{float:left;margin-bottom:10px;}
#snufflr_item #results h2{}
#snufflr_item #topOptions{}
#snufflr_item #topOptions .topOptionsLeft{float:left;}
#snufflr_item #topOptions .topOptionsRight{float:right;}
#snufflr_item #showImageWrap a img{border:0px;}
.snuffDetailsFrom{height:70px;}
.snuffDetailsAdmin{width:100px;}
.snuffDetailsAdmin a{color:#bbb !important;margin-right:17px;}
.snuffDetailsAdmin a:hover{color:#333 !important;}

#showBlurbWrap { border-left: 10px solid #ddd; padding: 5px 10px; }
#showBlurbWrap ul { padding: 0px; }
#showBlurbWrap li { list-style-position: inside;}

/* Snufflr user */
#u_projects { margin-bottom: 10px;}
	.col2button {
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		display:inline-block;
		background-color:#000000;
		font-weight:bold;
		line-height:14px;
		opacity:0.85;
		text-shadow:0 1px 1px #000000;
		margin-right: 5px;
		font-size: 0.9em;
	}
.col2button a {
		color:#FFFFFF;
		display:block;
		padding:6px 11px;
		text-decoration:none;
}

.col2button:hover{opacity: 1;}


#footer { height: 40px; clear: both; width: 960px; margin: auto; }