<h1>Editing project</h1>

<% form_for(@project) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %> 
  <p><%= f.submit 'Update' %></p>
<% end %>

<div id="navOption">
	<div class="show"><%= link_to 'Show', @project %></div>
	<div class="back"><%= link_to 'Back', projects_path %></div>
</div>