<h1>Create a new project</h1>

<% form_for(@project) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %> 
  <p><%= f.submit 'Create Project' %></p>
<% end %>

<div id="navOption">
	<div class="back"><%= link_to 'Back', projects_path %></div>
</div>