<h1>Edit snuff</h1>

<% form_for(@item,:html => { :multipart => true, :id => 'snuffForm' }) do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %> 
<% end %>

<div id="navOption">
	<div class="back"><%= link_to 'Back', items_path %></div>
</div>
